@font-face {
  font-family: "MelonFruits";
  src: url("/assets/fonts/Melon Fruit.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.navBar {
  background-color: #96a78d;
  color: #f0f0f0;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  font-family: "MelonFruits", "cursive";
}

.logoCont {
}

.logo {
  width: 30px;
  aspect-ratio: 1/1;
}

.menuIconCont {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menuIcon {
  cursor: pointer;
  font-size: 1.5em;
}

.navLinks {
  display: none;
}

.navLinks.show {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  width: 100%;
  top: 50px;
  right: 0px;
  background-color: #96a78d;
}

.navLinks.show li {
  margin-left: auto;
}

.navLink {
  color: #f0f0f0;
  padding-right: 1em;
  font-size: 1.3em;
}

.navLink a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 600px) {
  .menuIconCont {
    display: none;
  }

  .navLinks {
    display: flex !important;
    flex-direction: row;
    margin-left: auto;
    list-style-type: none;
  }

  .navLinks.show li {
    display: none;
  }

  .navLink {
    font-size: 1.5em;
  }
}
